.game-item-arrangement {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.game-nav-section {
  width: 90%;

  display: flex;
  flex-direction: column;
}
.game-main-part {
  height: auto;
  width: 100%;
  padding-right: 0px;
  margin-right: 0px;
}

.gaming-ul-divs {
  width: 90%;
  list-style-type: none;
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
}
.gaming-list-container {
  width: 30%;
  height: auto;
  margin-bottom: 20px;
  cursor: pointer;

  margin-right: 15px;
}
.gaming-thumbnail {
  height: 300px;
  width: 100%;
}
.video-details {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.videod {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gaming-video-flex-para {
  display: flex;
  flex-direction: column;
  color: black;
  padding-right: 1px;
  margin-left: 15px;
}
@media screen and (max-width: 576px) {
  .game-item-arrangement {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  .game-main-part {
    height: auto;
    width: 100%;
    min-height: 85vh;
    padding-right: 0px;
    margin-right: 0px;
  }
  .products-details-loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  .videod {
    margin-left: -40px;
  }
  .gaming-ul-divs {
    width: 82%;
    list-style: none;
    margin-left: 20px;
  }
  .game-nav-section {
    width: 100%;

    display: flex;
    flex-direction: column;
  }
  .gaming-list-container {
    width: 100%;
    height: auto;
    margin-bottom: 20px;

    cursor: pointer;
    margin-left: 20px;
  }
  .gaming-thumbnail {
    height: 200px;
    width: 110vw;
    margin-left: -40px;
  }
  .gaming-video-flex-para {
    margin-left: -40px;
  }
}
@media screen and (min-width: 577px) and (max-width: 722px) {
  .gaming-list-container {
    width: 40%;
    height: auto;
    min-width: 40%;
    margin-bottom: 20px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 10px;
  }

  .gaming-ul-divs {
    width: 84%;
    list-style-type: none;
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
  }

  .gaming-thumbnail {
    height: 200px;
    width: 100%;
  }
  .gaming-video-flex-para {
    margin-left: 10px;
  }
}

.gaming-list-container {
  width: 30%;
  height: auto;
  margin-bottom: 20px;
  cursor: pointer;

  margin-right: 15px;
}
.gaming-thumbnail {
  height: 300px;
  width: 100%;
}
.video-details {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.videod {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.gaming-video-flex-para {
  display: flex;
  flex-direction: column;
  padding-right: 1px;
  margin-left: 15px;
}
@media screen and (max-width: 319px) {
  .gaming-ul-divs {
    width: 100%;
    list-style: none;
  }
  .gaming-list-container {
    width: 100%;
    height: auto;
    margin-bottom: 20px;

    cursor: pointer;
    margin-right: 0px;
  }
  .gaming-thumbnail {
    height: 200px;
    width: 100vw;
    margin-left: -40px;
  }
  .gaming-video-flex-para {
    margin-left: -20px;
  }
}
@media screen and (min-width: 320px) and (max-width: 722px) {
  .gaming-list-container {
    width: 40%;
    height: auto;
    min-width: 40%;
    margin-bottom: 20px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 10px;
  }
  .gaming-thumbnail {
    height: 200px;
    width: 100%;
  }
  .gaming-video-flex-para {
    margin-left: 10px;
  }
}
